<ActionBar title="{{prodcode}}">  
</ActionBar>
<Page class="page">
  <GridLayout rows="*,auto">   
    <TabView row="0" id="tabViewContainer">
        <StackLayout *tabItem="{title: 'Center'}">
            <StackLayout class="tab-view">
               <GridLayout rows="auto,auto,*">
                    <!-- <StackLayout row="0" orientation="horizontal" width="100%" backgroundcolor="#566573">
                        <Label text="CEMTER" width="30%" class="title"></Label>
                        <Label text="ITEM CODE" width="40%" class="title"></Label>
                        <Label text="SIZE" width="10%" class="title"></Label>
                        <Label text="UOM" width="10%" class="title"></Label>
                        <Label text="SEQ" width="10%" class="title"></Label>
                    </StackLayout>
                    <StackLayout row="1" orientation="horizontal" width="100%" backgroundcolor="#566573">
                        <Label text="DESCRIPTION" width="100%" class="title"></Label>
                    </StackLayout> -->
                    <ScrollView row="2">
                        <ListView [items]="listwc">
                            <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                                <GridLayout rows="auto,auto,auto" 
                                            [class.even]="even"
                                            [class.odd]="odd" 
                                            orientation="horizontal"
                                            width="100%">

                                    <StackLayout row="0" orientation="horizontal" width="100%">
                                            <Label [text]="item.seqno" width="8%" class="caption"></Label>
                                            <Label text="CENTER: " width="18%" class="caption-title"></Label>
                                            <Label [text]="item.wccode" width="48%" class="caption"></Label>
                                            <Label text="SIZE :" width="10%" class="caption-title"></Label>
                                            <Label [text]="item.packsize" width="16%" class="caption"></Label>
                                    </StackLayout>
                                    <StackLayout row="1" orientation="horizontal" width="100%">
                                            <Label [text]="" width="8%" class="caption"></Label>
                                            <Label text="ITEM CODE: " width="18%" class="caption-title"></Label>
                                            <Label [text]="item.wcicode" width="48%" class="caption"></Label>
                                            <Label text="UOM : " width="10%" class="caption-title"></Label>
                                            <Label [text]="item.wcuom" width="16%" class="caption"></Label>

                                    </StackLayout>
                                    <StackLayout row="2" orientation="horizontal" width="100%">
                                            <Label [text]="" width="8%" class="caption"></Label>
                                        <Label [text]="item.idesc" class="caption-desc" width="92%"></Label>
                                        <!-- <Label [text]="item.sellingPrice | number : '1.2-2'" width="20%" class="caption-number"></Label> -->
                                    </StackLayout>
                                </GridLayout>
                            </ng-template>
                        </ListView>
                        <!-- </PullToRefresh> -->
                    </ScrollView>
               </GridLayout>
            </StackLayout>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Process'}">
            <StackLayout class="tab-view">
                <GridLayout rows="*">
                            <ScrollView row="0">
                                <ListView [items]="listproc">
                                    <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                                        <GridLayout rows="auto,auto" 
                                                    [class.even]="even"
                                                    [class.odd]="odd" 
                                                    orientation="horizontal"
                                                    width="100%">
            
                                            <StackLayout row="0" orientation="horizontal" width="100%">
                                                    <Label [text]="item.seqno" width="8%" class="caption"></Label>
                                                    <Label text="PROCESS: " width="18%" class="caption-title"></Label>
                                                    <Label [text]="item.process" width="22%" class="caption"></Label>
                                                    <Label text="CENTER :" width="18%" class="caption-title"></Label>
                                                    <Label [text]="item.wccode" width="22%" class="caption"></Label>
                                            </StackLayout>        
                                            <StackLayout row="1" orientation="horizontal" width="100%">
                                                    <Label [text]="" width="8%" class="caption"></Label>
                                                    <Label text="FINAL: " width="12%" class="caption-title"></Label>
                                                    <Label [text]="item.final" width="10%" class="caption"></Label>
                                                    <Label text="WC ITEM:" width="15%" class="caption-title"></Label>
                                                    <Label [text]="item.wcicode" width="55%" class="caption"></Label>
                                            </StackLayout>                                       
                                        </GridLayout>
                                    </ng-template>
                                </ListView>
                                <!-- </PullToRefresh> -->
                            </ScrollView>
                </GridLayout>
            </StackLayout>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Machine'}">
            <StackLayout class="tab-view">
                <GridLayout rows="*">
                            <ScrollView row="0">
                                <ListView [items]="listmac">
                                    <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                                        <GridLayout rows="auto,auto" 
                                                    [class.even]="even"
                                                    [class.odd]="odd" 
                                                    orientation="horizontal"
                                                    width="100%">
            
                                            <StackLayout row="0" orientation="horizontal" width="100%">
                                                    <Label [text]="item.seqno" width="8%" class="caption"></Label>
                                                    <Label text="MACHINE: " width="18%" class="caption-title"></Label>
                                                    <Label [text]="item.machine" width="38%" class="caption"></Label>
                                                    <Label text="CENTER:" width="16%" class="caption-title"></Label>
                                                    <Label [text]="item.wccode" width="20%" class="caption"></Label>
                                            </StackLayout>
                                            <StackLayout row="1" orientation="horizontal" width="100%">
                                                    <Label [text]="" width="8%" class="caption"></Label>
                                                    <Label text="NAME: " width="18%" class="caption-title"></Label>
                                                    <Label [text]="item.macname" width="38%" class="caption-desc"></Label>
                                                    <Label text="PROCESS:" width="16%" class="caption-title"></Label>
                                                    <Label [text]="item.process" width="20%" class="caption"></Label>
                                            </StackLayout>
                                           
                                        </GridLayout>
                                    </ng-template>
                                </ListView>
                                <!-- </PullToRefresh> -->
                            </ScrollView>
                </GridLayout>
            </StackLayout>
        </StackLayout>
        <StackLayout *tabItem="{title: 'BOM'}">
            <StackLayout class="tab-view">
                <GridLayout rows="*">                            
                            <ScrollView row="0">
                                <ListView [items]="listbom">
                                    <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                                        <GridLayout rows="auto,auto,auto" 
                                                    [class.even]="even"
                                                    [class.odd]="odd" 
                                                    orientation="horizontal"
                                                    width="100%">
            
                                            <StackLayout row="0" orientation="horizontal" width="100%">
                                                    <Label text="MATERIAL: " width="18%" class="caption-title"></Label>
                                                    <Label [text]="item.icode" width="48%" class="caption"></Label>
                                                    <Label text="CENTER:" width="16%" class="caption-title"></Label>
                                                    <Label [text]="item.wccode" width="18%" class="caption"></Label>
                                            </StackLayout>
                                            <StackLayout row="1" orientation="horizontal" width="100%">
                                                    <Label text="W/HOUSE: " width="18%" class="caption-title"></Label>
                                                    <Label [text]="item.wh" width="48%" class="caption"></Label>
                                                    <Label text="PROCESS:" width="16%" class="caption-title"></Label>
                                                    <Label [text]="item.process" width="18%" class="caption"></Label>
                                            </StackLayout>
                                            <StackLayout row="2" orientation="horizontal" width="100%">
                                                    <Label [text]="item.idesc" width="66%" class="caption-desc"></Label>
                                                    <Label text="QTY:" width="10%" class="caption-title"></Label>
                                                    <Label [text]="item.stdqty" width="16%" class="caption-small-right"></Label>
                                                    <Label [text]="item.uom" width="10%" class="caption-xsmall-right"></Label>
                                            </StackLayout>                                           
                                        </GridLayout>
                                    </ng-template>
                                </ListView>
                                <!-- </PullToRefresh> -->
                            </ScrollView>
                </GridLayout>
            </StackLayout>
        </StackLayout>
    </TabView>
    <StackLayout row="1" width="100%">
            <Button class="btn-sm btn-active btn-primary" 
                    id="btnBack" 
                    (tap)="onBack($event)"
                    width="100%"                         
                    height="40"                       
                    >
                <FormattedString>
                    <Span [text]="iconHome" class="fas faclass">
                    </Span>                        
                </FormattedString>  
            </Button>
    </StackLayout>   
  </GridLayout>  
</Page>