<Page class="layoutBackgroundImageURL" (tap)="showSlideout()">
    <!-- <ActionBar title="WINCOM MOBILE-ERP">
    <ActionItem (tap)="showSlideout()" ios.position="right">
        <StackLayout class="navbar_image_wrapper" ios:horizontalAlignment="right">
            <Label [text]="iconAdd" class="icon menu-item"></Label>
        </StackLayout>
    </ActionItem>
</ActionBar>  -->
    <RadSideDrawer (drawerClosing)="onDrawerClosing()">
        <StackLayout tkDrawerContent>
            <GridLayout rows="auto,auto,auto,auto,auto,*,100" class="side-drawer-panel">
                <StackLayout row="0">
                    <Label [text]="iconlogo" (tap)="onCloseMenu($event)" class="icon menu-container"></Label>
                    <!-- <Image src="res://rpslogo" class="slide-out-img" stretch="aspectFit"></Image> -->
                </StackLayout>
                <!-- <StackLayout row="1" class="menu-container">
                    <Label text="Sales Order" (tap)="onTabMenu('saleslist')"></Label>
                </StackLayout>
                <StackLayout row="2" class="menu-container">
                    <Label text="Good Receipt" (tap)="onTabMenu('grn')"></Label>
                </StackLayout> -->
                <!-- <StackLayout row="1" class="menu-container">
                    <Label class="item-text" text="Daily Output" (tap)="onTabMenu('daily')"></Label>
                </StackLayout> -->
                <StackLayout row="1" class="menu-container">
                    <Label class="item-text" text="Daily Output" (tap)="onTabMenu('dailylist')"></Label>
                </StackLayout>
                <!-- <StackLayout row="4" class="menu-container">
                    <Label text="Cycle-Count" (tap)="onTabMenu('cycle')"></Label>
                </StackLayout>
                <StackLayout row="5" class="menu-container">
                    <Label text="Cycle-Count (No Lot)" (tap)="onTabMenu('cyclenolot')"></Label>
                </StackLayout> -->
                <!-- <StackLayout row="6" class="menu-container">
                <Label text="Customer" (tap)="onTabMenu('cust')"></Label>
             </StackLayout> -->
                <StackLayout row="2" class="menu-container">
                    <Label class="item-text" text="Item Master" (tap)="onTabMenu('item')"></Label>
                </StackLayout>
                <StackLayout row="3" class="menu-container">
                    <Label  class="item-text" text="Product Defination" (tap)="onTabMenu('proddef')"></Label>
                </StackLayout>
                <!-- <StackLayout row="8" class="menu-container">
                    <Label text="Product Defination 2" (tap)="onTabMenu('proddef2')"></Label>
                </StackLayout> -->
                <StackLayout row="4" class="menu-container">
                    <Label class="item-text" text="Settings" (tap)="onTabMenu('setting')"></Label>
                </StackLayout>
                <StackLayout row="5" class="menu-container">
                    <Label text=""></Label>
                </StackLayout>
                <StackLayout row="6" class="menu-container">
                    <Button text="Logout" (tap)="onLogOut()" class="button-item"></Button>
                </StackLayout>

            </GridLayout>
        </StackLayout>

        <StackLayout tkMainContent>
            <!-- <FlexboxLayout height="400" col="1" row="0" verticalAlignment="middle" alignItems="center" justifyContent="center"> -->

            <GridLayout rows="auto,*,auto" width="100%">
                <StackLayout row="0" (tap)="showSlideout()" class="navbar_image_wrapper" ios:horizontalAlignment="right">
                    <Label [text]="iconAdd" class="icon lable-item" text-align="right"></Label>
                </StackLayout>
                <StackLayout row="1" verticalAlignment="middle" orientation="vertical" width="100%">
                    <Label text="Wincom Solution" class="main-title"></Label>
                    <Label text="NO MORE PAINFUL INTEGRATION" class="sub-title"></Label>
                </StackLayout>
                <StackLayout row="2" (tap)="showSlideout()" class="navbar_image_wrapper" ios:horizontalAlignment="right">
                        <Label text="Copyrights 2019, Wincom Solution." class="lable-footer"></Label>
                    </StackLayout>
            </GridLayout>
            <!-- </FlexboxLayout> -->
        </StackLayout>
    </RadSideDrawer>
</Page>