<Page>
<ActionBar title="WINCOM ERP MOBILE">
    <ActionItem (tap)="showSlideout()" ios.position="right">
        <StackLayout class="navbar_image_wrapper" ios:horizontalAlignment="right">
            <!-- <Image src="res://iconelipseswhite"></Image> -->
            <Label [text]="iconAdd" class="icon menu-item"></Label>
        </StackLayout>
    </ActionItem>
</ActionBar>

<RadSideDrawer (drawerClosing)="onDrawerClosing()">
    <StackLayout tkDrawerContent>
        <GridLayout rows="auto,auto,auto,auto,auto,*,100" class="side-drawer-panel">
            <StackLayout row="0">               
               <Label [text]="iconlogo" (tap)="onCloseMenu($event)" class="icon menu-container"></Label>
                <!-- <Image src="res://rpslogo" class="slide-out-img" stretch="aspectFit"></Image> -->
            </StackLayout>
            <StackLayout row="1" class="menu-container">
                    <Label text="Sales Order" (tap)="onTabMenu('saleslist')"></Label>
            </StackLayout>
            <!-- <StackLayout row="2" class="menu-container">
               <Label text="Sales Order" (tap)="onTabMenu('sales')"></Label>
            </StackLayout> -->
            <StackLayout row="2" class="menu-container">
                <Label text="Customer" (tap)="onTabMenu('cust')"></Label>
             </StackLayout>
             <StackLayout row="3" class="menu-container">
                <Label text="Item Codes" (tap)="onTabMenu('item')"></Label>
             </StackLayout>
             <StackLayout row="4" class="menu-container">
                <Label text=""></Label>
             </StackLayout>
            <StackLayout row="5" class="menu-container">
                <Button text="Logout" (tap)="onLogOut()" class="button-item"></Button>
            </StackLayout>
          
        </GridLayout>
    </StackLayout>

    <StackLayout tkMainContent>
            <FlexboxLayout height="400" col="1" row="0" verticalAlignment="middle" alignItems="center" justifyContent="center">
              
            
            <StackLayout  orientation="vertical" width="100%" >
                    <Label text="Wincom Solution" class="main-title"></Label> 
                <Label text="NO MORE PAINFUL INTEGRATION"  class="sub-title"></Label>
               
            </StackLayout>
           
        </FlexboxLayout>
    </StackLayout>
</RadSideDrawer>
</Page>