<ActionBar title="Good Receipt">
</ActionBar>
<Page class="page" #myContainerGR>
    <StackLayout orientation="vertical" class="form">
        <GridLayout rows="auto,auto,auto,auto,auto,auto,auto,auto" width="100%">
            <StackLayout row="0">
                <Label  [text]="iconQR"  
                        (tap)="OnScan()"
                        class="fas faclass-barcode"></Label>
            </StackLayout>  
            <FilterableListpicker
                #spinWorkGR blur="light" 
                hintText="Type to filter..." 
                [source]="listitems"                 
                (canceled)="cancelFilterableList($event)" 
                (itemTapped)="itemTapped($event)">
         </FilterableListpicker> 
            <StackLayout row="1" orientation="horizontal"  width="100%">
                <GridLayout  width="50%">
                    <StackLayout class="input-field">
                        <Label text="Date" class="label font-weight-bold m-b-5"></Label>
                        <GridLayout columns="*,auto" >
                            <TextField class="input grn-date"
                                       editable="false" 
                                       required
                                       text="{{fd_date | date:'dd-MM-yyyy HH:mm'}}">
                            </TextField>   
                            <Label col="1" [text]="iconSpin"
                                   (tap)="pickDate()"
                                   class="fas faclass-spinner">
                            </Label>
                       </GridLayout>     
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>
                </GridLayout> 
                    <GridLayout width="50%">
                        <StackLayout class="input-field input-field2">
                                <Label text="DO No.*" 
                                 class="label font-weight-bold m-b-5">
                                </Label>                            
                               <GridLayout columns="*,auto" >
                                    <TextField col="0" 
                                               #dono
                                               #dono1="ngModel"
                                               [(ngModel)]="fd_dono" 
                                               required
                                               class="input" >                                
                                    </TextField>                                   
                               </GridLayout>                           
                                <StackLayout class="hr-light m-b-0 m-t-0 "></StackLayout>
                        </StackLayout>                                    
                    </GridLayout>
            </StackLayout>
            <StackLayout row="2" orientation="horizontal"  width="100%">
                    <GridLayout  width="50%">
                        <StackLayout class="input-field input-field2">
                            <Label text="PO No." class="label font-weight-bold m-b-5"></Label>
                            <GridLayout columns="*,auto">
                                    <TextField  
                                               #pono="ngModel"
                                               [(ngModel)]="fd_pono" 
                                               required
                                               editable="false" 
                                               class="input" > 
                                    </TextField>
                                    <Label col="1" [text]="iconSpin"  width="10%"
                                           (tap)="showPicker('po')"
                                           class="fas faclass-spinner">
                                    </Label>
                            </GridLayout>
                            <StackLayout class="hr-light"></StackLayout>
                        </StackLayout>
                    </GridLayout>    
                    <GridLayout  width="50%">
                        <StackLayout class="input-field">                    
                                <Label text="Vendor Code" class="label font-weight-bold m-b-5"></Label>
                                <GridLayout columns="*">
                                        <TextField
                                           [text]="fd_vcode" 
                                           editable="false" 
                                           class="input" >                                
                                        </TextField>                                
                                </GridLayout>
                                <StackLayout class="hr-light"></StackLayout>
                        </StackLayout>                      
                    </GridLayout>   
            </StackLayout> 
            <StackLayout row="3" orientation="horizontal"  width="100%">
                    <StackLayout class="input-field" width="100%">
                        <Label text="Vendor Name" class="label font-weight-bold m-b-5"></Label>
                        <TextField class="input" 
                                   [text]="fd_vname"
                                   editable="false" 
                                   >
                        </TextField>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>
            </StackLayout>
            <StackLayout row="4" orientation="horizontal"  width="100%">
                    <GridLayout  width="50%">
                        <StackLayout class="input-field input-field2">
                            <Label text="Item Code*" class="label font-weight-bold m-b-5"></Label>
                            <GridLayout columns="*,auto">
                                    <TextField col="0" 
                                               #icode="ngModel"
                                               [(ngModel)]="fd_icode" 
                                               required
                                               editable="false" 
                                               class="input" > 
                                    </TextField>
                                    <Label col="1" [text]="iconSpin"  width="10%"
                                           (tap)="showPicker('item')"
                                           class="fas faclass-spinner">
                                    </Label>
                            </GridLayout>
                            <StackLayout class="hr-light"></StackLayout>
                        </StackLayout>
                    </GridLayout>  
                    <GridLayout  width="30%">
                        <StackLayout class="input-field">
                            <Label text="PO Qty" class="label font-weight-bold m-b-5"></Label>
                            <TextField col="0" 
                                       text="{{fd_poqty}}"
                                       editable="false" 
                                       class="input" > 
                            </TextField>                            
                                <StackLayout class="hr-light"></StackLayout>
                            </StackLayout>
                     </GridLayout>      
                    <GridLayout  width="30%">
                        <StackLayout class="input-field">                    
                                <Label text="UOM" class="label font-weight-bold m-b-5"></Label>
                                <GridLayout columns="*">
                                        <TextField col="0" 
                                           [text]="fd_puruom" 
                                           editable="false" 
                                           class="input" >                                
                                        </TextField>                                
                                </GridLayout>
                                <StackLayout class="hr-light"></StackLayout>
                        </StackLayout>                      
                    </GridLayout>   
            </StackLayout> 
            <StackLayout row="5" orientation="horizontal"  width="100%">
                <StackLayout class="input-field" width="100%">
                    <Label text="Item Description" class="label font-weight-bold m-b-5"></Label>
                    <TextField class="input" 
                               text="{{fd_idesc}}"  
                               editable="false"                              
                               >
                    </TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
        </StackLayout>
            <StackLayout row="6" orientation="horizontal"  width="100%">
                <GridLayout  width="30%">
                    <StackLayout class="input-field">
                        <Label text="Balance" class="label font-weight-bold m-b-5"></Label>
                            <TextField col="0" 
                                       text="{{fd_balance}}"
                                       editable="false" 
                                       class="input" > 
                            </TextField>                                   
                            <StackLayout class="hr-light"></StackLayout>
                        </StackLayout>
                 </GridLayout>    
                 <GridLayout  width="30%">
                        <StackLayout class="input-field">
                            <Label text="Ttl Received" class="label font-weight-bold m-b-5"></Label>
                            <TextField col="0" 
                                       text="{{fd_ttlrec}}"
                                       editable="false" 
                                       class="input" > 
                            </TextField>                            
                                <StackLayout class="hr-light"></StackLayout>
                            </StackLayout>
                 </GridLayout>    
                 <GridLayout  width="40%">
                    <StackLayout class="input-field input-field2">                    
                        <Label text="Receive Qty*" 
                               class="label font-weight-bold m-b-5"></Label>
                        <GridLayout columns="*">
                            <TextField col="0" 
                                       #revqrt
                                       #revqrt2="ngModel"
                                       [(ngModel)]="fd_recqty" 
                                       [editable] ="dono1.valid && 
                                                    pono.valid && 
                                                    icode.valid" 
                                       required
                                       keyboardType="number"
                                       class="input" >
                            </TextField>
                        </GridLayout>
                        <StackLayout class="hr-light"></StackLayout>
                        </StackLayout>                      
                    </GridLayout>   
            </StackLayout> 
            <StackLayout row="7" orientation="horizontal" width="100%">
                    <Button class="btn-sm btn-active" 
                            id="btnSave" 
                            text="Save" 
                            (tap)="OnSaveTap($event)"
                            width="50%"                         
                            height="40"
                            [ngClass]="{'btn-primary': dono1.valid && 
                                                       pono.valid &&  
                                                       icode.valid && 
                                                       revqrt2.valid 
                                        }"
                            [isEnabled]="dono1.valid && 
                                         pono.valid &&  
                                         icode.valid && 
                                         revqrt2.valid" 
                            >
                    </Button>
                    <Button class="btn-sm text-danger btn-active" 
                            id="btnCancel" 
                            text="Cancel" 
                            (tap)="OnCancelTap($event)"
                            width="50%" 
                            height="40">
                    </Button>
                </StackLayout>    
        </GridLayout>
    </StackLayout>
</Page>     