<ActionBar title="Master Item List">    
</ActionBar>
<Page class="page">
    <StackLayout orientation="vertical">
        <GridLayout rows="auto,auto,auto,auto,auto,*">
            <StackLayout class="form" row="0" orientation="horizontal" width="100%">
                <TextField hint="Search..." class="input"
                           id= "searchstr"  
                          [(ngModel)]="searchstr"  
                          (textChange)="onTextChange($event)"
                           width="80%"></TextField>
               <Button class="btn-rounded-sm btn-outline btn-active" 
                        id="btnBack"                       
                        (tap)="onBack($event)"
                        width="20%" height="40" >
                   <FormattedString>
                        <Span [text]="iconHome" class="fas faclass"></Span>
                    </FormattedString>  
                </Button>
            </StackLayout>
            <StackLayout row="1" orientation="horizontal" width="100%">
                <Label [text]="errmsg" 
                       width="100%" 
                       visibility="{{ showError ? 'visible' : 'collapsed' }}"
                       class="err-msg"></Label>
                
            </StackLayout>
            <StackLayout row="2" orientation="horizontal" width="100%" backgroundcolor="#566573">
                <Label text="CODE" width="50%" class="caption"></Label>
                <Label text="TYPE" width="18%" class="caption"></Label>
                <Label text="CLASS" width="18%" class="caption"></Label>
                <Label text="UOM" width="14%" class="caption"></Label>
            </StackLayout>
            <StackLayout row="3" orientation="horizontal" width="100%" backgroundcolor="#566573">
                <Label text="DESCRIPTION" width="100%" class="caption"></Label>
                <!-- <Label text="PRICE" width="20%" class="caption caption-number"></Label>-->
            </StackLayout>
            <StackLayout *ngIf="isBusy" row="4" orientation="vertical" width="100%">
                    <ActivityIndicator #activityIndicator [busy]="isBusy" 
                                   width="100%" 
                                   height="100%" 
                                   class="activity-indicator"></ActivityIndicator>
            </StackLayout> 
            <ScrollView row="5">
                <!-- <PullToRefresh [refreshing]="isRefresh" (refresh)="refreshList($event)"> -->
                    <ListView [items]="items">                          
                        <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">  
                            <GridLayout rows="auto,auto"
                                        [class.selected]="item.iCode===selectedCode"
                                        [class.even]="even"
                                        [class.odd]="odd"
                                        (tap)="onItemTap(item)"
                                        orientation="horizontal" width="100%">
                            
                                <StackLayout row="0" orientation="horizontal" width="100%" >
                                    <Label [text]="item.iCode"  width="50%"></Label>
                                    <Label [text]="item.iType"  width="18%"></Label>
                                    <Label [text]="item.iClass"  width="18%"></Label>
                                    <Label [text]="item.sellingUOM"  width="14%"></Label>
                                </StackLayout>
                                <StackLayout row="1" orientation="horizontal" width="100%" >
                                    <Label [text]="item.iDesc"  width="100%"></Label>
                                    <!-- <Label [text]="item.sellingPrice | number : '1.2-2'" width="20%" class="caption-number"></Label> -->
                                </StackLayout>
                            </GridLayout>
                        </ng-template>                        
                    </ListView>
                <!-- </PullToRefresh> -->
          </ScrollView>
          <!-- <ActivityIndicator [busy]="isRefresh" rowSpan="3"></ActivityIndicator> -->
        </GridLayout>
    </StackLayout>

</Page>